# wildcard patterns
*.cache
*.la
*.lo
*.o
*.tar.gz
.deps
.libs
Makefile
Makefile.in

# /
/.dep.inc
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
/Makefile-cchat.mk
/nbproject
/stamp-h1

# /m4
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4

# /src/client
/src/client/cchat-client

# /src/server
/src/server/cchat-server

# /tests/list
/tests/list/list

# /tests/string
/tests/string/string

